/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */
/* Customized by Kevin Xu http://imkevinxu.com  */

/*	--------------------------------------------------
	:: Main Homepage
	-------------------------------------------------- */

    body {
        margin: 10px 0;
        font-family: 'Arvo', serif;
        background-image:url('images/bright_squares.png');
    }

    .row { text-align:center; }

    h2#tagline {
        margin-top:-20px;
        font-family: 'Sail', cursive;
        margin-bottom:35px;
    }

    iframe.clarity {
        width: 350px;
        height: 503px;
        border:1px solid #333;
    }

    ul.specialties { margin: 10px 0; }
    ul.specialties li {
        font-size:14px;
        display: inline-block;
        margin-right:10px;
        margin-bottom:6px;
        padding:3px 8px;
        background: #F4F2EC;
        border: 1px solid #AAA;
    }
    ul.specialties li:last-child { margin: 0;}
    ul.specialties li:hover {
        transition: all 0.18s ease-in-out;
        -webkit-transition: all 0.18s ease-in-out;
        -moz-transition: all 0.18s;
        ease-in-out; box-shadow: 0 0 5px #67BAF0;
        -webkit-box-shadow: 0 0 5px #67BAF0; 
        -moz-box-shadow: 0 0 5px #67BAF0;
        border:1px solid #67BAF0;
    }

    hr {
        position: relative;
        background: #c0c0c0;
        height: 2px;
        width:90%;
        margin: 15px auto 20px;
    }
    hr:before {
        display: block;
        position: absolute;
        text-align: center;
        width: .8em;
        left: 50%;
        margin: -10px 0 0 -25px;
        content: "\2767";
        font-size: 150%;
        padding: 0 8px;
        background-image:url('images/bright_squares.png');
    }

    #social { margin: 25px auto 30px; }

    iframe.twitter-share-button {
        height: 64px !important;
        width: 90px !important;
    }

    #about_modal p {
        font-size:14px;
        line-height:23px;
        margin: 0 0 14px;
    }

    #about_modal p.lead {
        font-size:20px;
        line-height:20px;
        margin-bottom:30px;
    }

    footer {
        color:white;
        padding:5px 0 0 12px;	
        position:fixed;
        right:9.8%;
        bottom:0px;
        height:25px;
        width:100px;
        background:#000;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    footer:hover, footer:active { height:27px; }

    /* IE 6 */
    * html #footer {
        position:absolute;
        top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
    }

    /*	--------------------------------------------------
    	:: Fancy Ribbon
    	-------------------------------------------------- */
    	
    a:hover .ribbon, a:active .ribbon {
        margin-top:12px;
        margin-bottom:33px;
    }	
    .ribbon {
        font-size: 35px;
        /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
        width: 50%;
        position: relative;
        background: #AE0B12;
        color: #fff;
        text-align: center;
        padding: .4em 2em; /* Adjust to suit */
        margin: 10px auto 1em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
    }
    .ribbon:before, .ribbon:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -1em;
        border: 1.2em solid #90090F;
        z-index: -1;
    }
    .ribbon:before {
        left: -1.45em;
        border-right-width: 1.2em;
        border-left-color: transparent;
    }
    .ribbon:after {
        right: -1.45em;
        border-left-width: 1.2em;
        border-right-color: transparent;
    }
    .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
        content: "";
        position: absolute;
        display: block;
        border-style: solid;
        border-color: #72070B transparent transparent transparent;
        bottom: -1em;
    }
    .ribbon .ribbon-content:before {
        left: 0;
        border-width: 1em 0 0 1em;
    }
    .ribbon .ribbon-content:after {
        right: 0;
        border-width: 1em 1em 0 0;
    }

    /*	--------------------------------------------------
    	:: Custom Responsive Media Queries
    	-------------------------------------------------- */

    @media only screen and (max-width: 767px) {
        .ribbon {
            font-size: 18px !important;
            margin-top: 0 !important;
            width: 70% !important;
        }
        .ribbon:before { left: -1.4em !important; }
        .ribbon:after { right: -1.4em !important; }
        
        h2#tagline {
            font-size: 20px;
            margin: 0px auto 10px !important;
        }
        iframe.clarity {
            margin-bottom: 20px;
            width: 320px !important;
            height: 460px !important;
        }
        hr:before { margin-top:-15px !important; }
        footer { font-size: .87em; }
    }
